    <footer class="footer">
      <p>Copyright &copy; 2022</p>
    </footer>
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>