<header>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/index.html" class="product-btn">Add Product</a>
      <a href="/index.html">Add Employee</a>
      <a href="/index.html">Add Branch</a>
      <a href="/index.html">Add Stock</a>
    </nav>
</header>
