<header>
    <nav class="nav">
        <a href="#" class="hamburger-menu">
            <svg class="hamburger-menu__icon">
                <use xlink:href="/img/sprite.svg#icon-menu"></use>
            </svg>
        </a>
        <a href="/">Home</a>
        <a href="/index.html" class="product-btn">Add Product</a>
        <div class="subnav">
            <a class="subnav__btn">
                <span>Employee</span>
                <svg class="subnav__icon">
                    <use xlink:href="/img/sprite.svg#icon-triangle-down"></use>
                </svg>
            </a>
            <div class="subnav__items">
                <a href="/employee">All</a>
                <a href="/employee/add">Add</a>
            </div>
        </div>
        <div class="subnav">
            <a class="subnav__btn">
                <span>Branch</span>
                <svg class="subnav__icon">
                    <use xlink:href="/img/sprite.svg#icon-triangle-down"></use>
                </svg>
            </a>
            <div class="subnav__items">
                <a href="/branch">All</a>
                <a href="/branch/add">Add</a>
            </div>
        </div>
        <div class="subnav">
            <a class="subnav__btn">
                <span>Stock</span>
                <svg class="subnav__icon">
                    <use xlink:href="/img/sprite.svg#icon-triangle-down"></use>
                </svg>
            </a>
            <div class="subnav__items">
                <a href="/stock">All</a>
                <a href="/stock/add">Add</a>
            </div>
        </div>
        <a href="#">Employee Login</a>
        <div class="customer-links">
            <a href="#">User Login</a>
            <a href="#">User Signup</a>
        </div>

    </nav>
</header>
